body{
    background-color: hsl(35, 100%, 90%);
    font-family: sans-serif;
}
h1{
    color: hsl(35, 100%, 30%);
    text-transform: uppercase;
}
p{
    font-size: 200%;
}
.intro{
    color: hsl(35, 100%, 50%);
}
summary{
    font-size: 400%;
}
.impar{
    background-color: hsl(325, 100%, 90%);
}
.par{
    background-color: white;
}