$colorText: #eee;
$colorText_hover: #fff;
$bg_color: #666;
$bg_color_hover: #888;

@mixin colorTextoFondo {
    color: $colorText;
    background-color: $bg_color;
}

@mixin color_hover{
    color: $colorText_hover;
    background-color: $bg_color_hover;
}

@mixin box-sizing($property){
    box-sizing: $property;
    -webkit-box-sizing: $property;
    -moz-box-sizing: $property;
}

@mixin transition($property, $duration, $timing: linear){
    transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
}

@mixin animation($name, $duration, $timing: linear) {
    animation: $name $duration $timing;
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
}

@import "_menu";

body {
    padding: 0px;
    margin: 0px;
}

header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: #eee;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    @include colorTextoFondo;
    @include box-sizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}